@using BmeBlazorServer.Services
@using MudBlazor;
@using System;
@inject ISnackbar Snackbar;
@inject IAuthService authService;

<MudDialog Style="height:500px; width:500px;" Class="rounded-xl">
    <TitleContent>
        <div class="d-flex justify-center mt-10">
            <MudText Class="mt-4 mud-typography-align-center"><MudIcon Icon="@Icons.Filled.Security" Style="width:80px; height:80px;" Color="Color.Primary" Size="Size.Large"></MudIcon></MudText>
        </div>
        <MudText Class="mt-2 mud-typography-align-center" Typo="Typo.h4">Forgot your password?</MudText>
    </TitleContent>
    <DialogContent>
        <MudText Class="mt-16 mb-4">Please enter your email adress.</MudText>
        <MudTextField Class="mb-16" Placeholder="john@doe.com" Value="Email" T="string"/>
    </DialogContent>
    <DialogActions>
        <MudButton  OnClick="Cancel">Cancel</MudButton>
        <MudButton  Color="Color.Primary" OnClick="ResetPassword">Reset password</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter] MudDialogInstance? MudDialog { get; set; }

    private string Email { get; set; } = String.Empty;

    private void Cancel()
    {
        MudDialog?.Cancel();
    }

    private async void ResetPassword()
    {
        HttpResponseMessage response = await authService.UserExists(Email);
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopRight;
        Snackbar.Configuration.SnackbarVariant = Variant.Filled;
        Snackbar.Configuration.VisibleStateDuration = 3000;


        

        /* If user exists, reset password*/
        if(response.StatusCode == System.Net.HttpStatusCode.OK){
            Snackbar.Add("We've sent you an email. Please confirm and reset your password.", Severity.Success);
            MudDialog?.Close(DialogResult.Ok(true));
        }   
        if(response.StatusCode == System.Net.HttpStatusCode.BadRequest){
            Snackbar.Add("Email does not exist. Try again.", Severity.Error);
            MudDialog?.Close(DialogResult.Cancel());
        }
    }
   
}