@page "/"
<PageTitle>Login</PageTitle>
@page "/login"


<MudContainer MaxWidth="MaxWidth.Small" Class="mt-10">
    <MudPaper Class="px-10 pt-4 mt-4 rounded-xl">
        <MudGrid>
            <MudItem xs="12">
                <div class="d-flex justify-center">
                        <MudIcon Icon="@Icons.Material.Filled.SupervisedUserCircle" Color="Color.Primary" Style="height:50%; width:50%;"/>
                </div>
            </MudItem>
            <MudItem xs="12">
                <div class="d-flex justify-center">
                    <MudText Typo="Typo.h4">Boost My Economy</MudText>
                </div>
            </MudItem>
            <MudItem xs="12">
                <div class="d-flex justify-center">
                    <MudText>Personal Finance Workspace to analyze spending in detail</MudText>
                </div>
            </MudItem>
             <MudItem xs="12">
                <div class="d-flex justify-center">
                    <MudText>Boost your economy today!</MudText>
                </div>
            </MudItem>
           
            <MudItem xs="12">
                <MudTextField T="string" Label="E-mail" Variant="Variant.Outlined"
                              />
            </MudItem>
            <MudItem xs="12">
                <MudTextField  @bind-Value="Password" Label="Password" Variant="Variant.Outlined" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentColor="Color.Primary" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick" />
            </MudItem>
            <MudItem xs="12" Class="d-flex justify-space-between align-center">
                <MudCheckBox T="bool" Label="Remember me?" Color="Color.Primary" Class="ml-n1"></MudCheckBox> <MudLink Href="/account/forgot-password">Forgot password?</MudLink>
            </MudItem>
            <MudItem xs="12" Class="d-flex justify-center">
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width: 100%"> Login  </MudButton>
            </MudItem>
            <MudItem xs="12">
                <MudButton >Fill Administrator Credentials</MudButton>
            </MudItem>
        </MudGrid>
     </MudPaper>

     <MudGrid>
        <MudItem xs="12">
            <div class="d-flex justify-start mt-4">
                <MudText>Don't have an account?   <MudLink Href="/register"> Register here! </MudLink></MudText>
            </div>
        </MudItem>
    </MudGrid>

</MudContainer>


@code {
    public double? Amount { get; set; }
    public int? Weight { get; set; }
    public string Password { get; set;} = "";

    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    void ButtonTestclick()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

}