.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: #344955;
}

.nav-item_logo {
    font-size: 0.9rem;
    padding-bottom: 10rem;
}

.ignore-mudtext {
    margin-left: 0px !important;
    margin-inline-start: 0px !important;
}

.navimg {
    transition: transform .7s ease-in-out;
    height: 32px;
  }
  .navimg:hover {
    transform: rotate(360deg);
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.logoutbutton {
    background: transparent;
    border: transparent;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 1.5rem;
}

    .nav-item:first-of-type {
        padding-top: 10rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 10rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 3px;
        height: 3rem;
        display: flex;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
    opacity: 100%;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
