

<MudNavMenu >

    <MudButton 
        FullWidth = "true"
        Class="mt-10 mb-16 pa-auto"
        Href="/" Match="NavLinkMatch.All">
        <img src="./images/SVG/Logo.svg" height="32" class="center">
    </MudButton>

    <MudNavLink 
        Class="my-5 mt-12 pa-auto"
        Href="/home" Match="NavLinkMatch.Prefix">
        <img src="./images/SVG/Home.svg" class="center navimg">
    </MudNavLink>

    <MudNavLink
        Class="my-5 pa-auto"
        Href="/income" Match="NavLinkMatch.Prefix">
        <div class="ignore-mudtext">
        <img src="./images/SVG/Income.svg" class="center navimg">
        </div>
    </MudNavLink>

    <MudNavLink 
        Class="my-5 pa-auto"
        Href="/costs" Match="NavLinkMatch.Prefix">
        <img src="./images/SVG/Cost.svg" class="center navimg">
    </MudNavLink>
    
    <MudNavLink 
        Class="my-5 pa-auto"
        Href="/budget" Match="NavLinkMatch.Prefix">
        <img src="./images/SVG/Budget.svg" class="center navimg">
    </MudNavLink>
    
    <MudNavLink 
        Class="my-5 pa-auto"
        Href="/settings" Match="NavLinkMatch.Prefix">
        <img src="./images/SVG/Settings.svg" class="center navimg">
    </MudNavLink>

    <MudDivider
        Class=" mt-12 mx-7 mud-theme-primary">
    </MudDivider>
    
    <MudButton
        FullWidth = "true"
        Class="my-8 pa-5"
        @onclick="ToggleLogout">
        <img src="./images/SVG/Logout.svg" alt="logout">
    </MudButton>

</MudNavMenu>


@code {
    
    private async Task ToggleLogout()
    {
        
        @inject IJSRuntime JsRuntime
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "This will log you out of the system. \n Are you sure?"); // Confirm
            if(confirmed){
                /* TODO:: Logout function logic */
            }
    }
}
